@{
    ViewData["Title"] = "Demo Examples";
}

@EasyAccessKit.MainHeading(ViewData["Title"].ToString())

<ul>
    <li><a asp-controller="SkipMenu"
   asp-action="Index">Skip Menus</a></li>
    <li>
        <a asp-controller="EasyTable"
           asp-action="Index">Easy Table</a>
    </li>
</ul>